body {
    margin: 0;
    padding: 0;
}
.top-bar {
    height: 56px;
    max-height: 56px;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
#menu {
    height: 19px;
}
.menu-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}
.menu-wrapper:hover {
background-color: rgba(0,0,0,0.1);
}
.left {
display: flex;
flex-direction: row;
align-items: center;
gap: 18px;
}
.left a {
    display: flex;
    text-decoration: none;
}
.left a::after {
    content: 'PL';
    display: inline-block;
    font-family: Roboto;
    font-size: 10px;
    color: black;
    width: 10px;
    height: 10px;
    position: relative;
    right: -5px;
    top: -6px;
}
#logo {
    height: 20px;
}
.input-wrapper {
    border-radius: 50px;
    width: 640px;
    border: 1px solid rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    max-height: 40px;
    align-items: center;
    gap: 0;
    padding-left: 15px;
    padding-right: -15px;
    
}
.search {
    height: 38px;
    width: 576px;
    font-family: Roboto;
    border: none;
    font-size: 16px;
}
.search:focus {
    border: none;
    outline: none;
}
#search-btn {
    width: 64px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    padding: 4px 15px;
    height: 40px;
}
#search-btn img {
height: 20px;
}